* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.splash-content {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 20px;
  width: 100%;
  max-width: 350px;
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.name-heading {
  font-size: 2em;
  font-weight: bold;
  border-bottom: 2px solid #333;
  padding-bottom: 14px;
  margin-bottom: 16px;
  color: #333;
}

.greeting-text {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.digital-clock {
  position: relative; /* Change to relative positioning */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f8f9fa;
  margin-bottom: 8px;
  text-align: center; /* Center align text */
}

.clock-12-format {
  font-size: 2.3em;
  font-weight: bold;
  color: #222;
}

.clock-24-format {
  position: absolute;
  left: 26px;
  bottom: -2px;
  font-size: 7em;
  color: #00000020;
}

.month-display {
  position: absolute;
  right: 31px;
  bottom: -2px;
  font-size: 7em;
  color: #00000020;
}

.calendar-info {
  font-size: 1.2em;
  font-style: italic;
  color: #555;
  margin: 5px 0;
}

.company-founded {
  font-size: 1.2em;
  color: #777;
  line-height: 1.5;
}

.time-since-founded {
  font-style: normal;
  color: #333;
}

.loading-animation {
  font-size: 1.5em;
  padding: 20px;
  padding-bottom: 15px;
  display: inline-block;
  animation: pulse 1.5s infinite;
  color: #00000091;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 60px;
  padding: 0px;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;

  /* Gradient background */
  background: linear-gradient(to right, #0157dc, #141580);

  /* Background-clip with browser prefixes */
  background-clip: text;
  -webkit-background-clip: text;

  /* Transparent text color to allow gradient to show */
  color: transparent;

  /* Fallback for browsers that do not support background-clip */
  display: inline-block;
}

@supports not ((-webkit-background-clip: text) or (background-clip: text)) {
  header .logo {
    color: #0157dc; /* Fallback to solid color */
  }
}

header .menu-toggle {
  display: none;
}

header nav {
  display: flex;
  margin-right: 2px;
  z-index: 1000;
}

header nav label {
  cursor: pointer;
  padding: 20px 10px;
  position: relative;
}

header nav label:hover {
  color: #222;
}

header nav label:hover .sub-menu {
  display: block;
}

header nav .sub-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  margin-top: 20px;
  right: 0;
  width: 400px;
}

header nav .sub-menu .columns {
  cursor: default;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav .sub-menu .column {
  max-height: 382px;
  flex: 1;
  border-right: 1px solid #ddd;
  overflow-x: hidden;
  overflow-y: auto;
}

header nav .sub-menu .column:last-child {
  border-right: none;
}

header nav .sub-menu a {
  display: block;
  padding: 10px 15px;
  color: black;
  border: 1px solid #ddd;
  overflow: hidden;
  margin: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

header nav .sub-menu a:hover {
  background-color: #33333311;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

header nav .sub-menu p {
  background-color: red;
  color: white;
  border: 1px solid white;
  text-align: center;
  padding: 10px 15px;
  margin: 2px;
  cursor: pointer;
}

header nav .sub-menu p:hover,
header nav .sub-menu p:focus {
  background-color: white;
  color: red;
  border: 1px double red;
}

header nav h4 {
  font-size: 15px;
  text-align: center;
  background-color: #fafafa; /* Light grey background similar to Instagram */
  border: 1px solid #ddd;
  color: #000000; /* Black text */
  padding: 10px;
  margin: 2px;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 10px 20px;
  text-align: center;
}

footer a {
  color: #333;
  padding: 10px;
  cursor: pointer;
}

footer a:hover {
  color: black;
}

footer p {
  flex: 1;
  text-align: right;
  padding: 10px;
}

@media (max-width: 780px) {
  header {
    flex-wrap: wrap;
  }

  header .menu-toggle {
    display: block;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  header nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    z-index: 1000;
  }

  header nav.active {
    display: flex;
    flex-direction: column;
  }

  header nav label {
    padding: 15px;
    margin: 5px;
    margin-bottom: 0px;
    border: 1px solid #ddd;
    color: #333;
  }

  header nav label:hover {
    color: black;
  }

  header nav .sub-menu {
    font-weight: lighter;
    border: none;
    position: static;
    display: none;
    margin-top: 8px;
    width: 100%;
  }

  header nav .sub-menu .columns {
    flex-direction: column;
  }

  header nav .sub-menu .column {
    border-right: none;
    max-height: none;
  }

  header nav .sub-menu a {
    border: 1px solid #ddd;
    margin: 2px;
  }

  header nav .sub-menu a:hover {
    border: 1px solid #ddd;
  }

  footer {
    display: block;
    padding-top: 20px;
    font-size: 15px;
  }

  footer a {
    padding: 6px;
  }

  footer p {
    text-align: center;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: auto;
  background-color: #00000075;
}

.modal-content {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 600px;
  position: relative;
  border-radius: 5px;
  animation: fadeIn 0.3s ease-in backwards;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid #ddd;
}

.modal-header h3 {
  margin: 0;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 0 10px;
}

#about .modal-body {
  padding: 0 2px;
}
#about .modal-body section {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
#about .modal-body section h3 {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#about .modal-body section p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 15px;
}

#about .modal-body section ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

#about .modal-body section li {
  padding: 5px;
}

#about .modal-body section a {
  text-decoration: none;
  color: #333;
}

#about .modal-body p:last-child,
#about .modal-body section:last-child {
  margin-bottom: 0;
}
